*.user
*.opendb
*.db
*.bak
/x64/
/Debug/
/GeneratedFiles/
/Release/
/.vs/ilwisobjects_msvc1564/v14/.suo

*.ipch
/stxxl.log
/stxxl.errlog
/.vs/IlwisObjects/v17/workspaceFileList.bin
/.vs/ProjectSettings.json
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/.vs/ilwisobjects_msvc1564/v17/Solution.VC.db-wal
/.vs/ilwisobjects_msvc1564/v17/Solution.VC.db-shm
/.vs/ilwisobjects_msvc1564/v17/Browse.VC.db-wal
/.vs/ilwisobjects_msvc1564/v17/Browse.VC.db-shm
/.vs/ilwisobjects_msvc1564/v17/.suo
/.vs/IlwisObjects/v17/.suo
/.vs/ilwisobjects_msvc1564/v17/fileList.bin
/.vs/ilwisobjects_msvc1564/FileContentIndex/c73553e3-7d82-46bd-b2b5-763659c366c8.vsidx
/.vs/ilwisobjects_msvc1564/FileContentIndex/9d04975f-3189-42fc-a3e4-43fc846e453c.vsidx
/.vs/ilwisobjects_msvc1564/FileContentIndex/629c39d0-6a22-45b0-8936-cff28d33e67f.vsidx
/.vs/ilwisobjects_msvc1564/FileContentIndex/1075e54a-65d3-47fd-b51d-fe43b62f9d23.vsidx
/.vs/ilwisobjects_msvc1564/FileContentIndex/6db3b97e-950a-45df-affb-90da119aaa4a.vsidx
/pythonapi/ilwisobjects_wrap.cxx
/pythonapi/ilwisobjects.py
*.vsidx
/.vs/ilwisobjects_msvc1564/FileContentIndex/read.lock
qt.props
/cl3/x64/Release/qmake/temp
**/__pycache__