{
	"OperatingSystem" : [
			{ "name" : "windows",
			  "libraries": [
					{
							"order":1,
							"library" : "opencv_core343d.dll"
					},
					{
							"order":2,
							"library" : "opencv_imgproc343d.dll"
					}
			 ]
                        },
                        { "name" : "linux",
                          "libraries": [
                                        {
                                                        "order":1,
                                                        "library" : "libopencv_core.so"
                                        },
                                        {
                                                        "order":2,
                                                        "library" : "libopencv_imgproc.so"
                                        }
                         ]
                        }
	 ]
}
