{
	"Formats" : [
		{ 	"code" 			: "i4table",
			"name" 			: "Ilwis 4 table",
			"description" 	: "A composite format for IlwisObject based data. It may contain multiple data objects",
			"extension"		: "ilwis4",
			"type"			: "memory,file",
			"datatypes"		: "table",
			"readwrite"		: "rcu"				
		}
	]
}