{
	"Formats" : [
		{ 	"code" 			: "i4table",
			"name" 			: "Ilwis 4 table",
			"description" 	: "A composite format for IlwisObject based data. It may contain multiple data objects",
			"extension"		: "ilwis4",
			"type"			: "memory,file",
			"datatypes"		: "table",
			"readwrite"		: "rcu"				
		},
		{ 	"code" 			: "i4raster",
			"name" 			: "Ilwis 4 raster",
			"description" 	: "A composite format for IlwisObject based data. It may contain multiple data objects",
			"extension"		: "ilwis4",
			"type"			: "memory,file",
			"datatypes"		: "rastercoverage",
			"readwrite"		: "rcu"				
		},
		{ 	"code" 			: "i4domain",
			"name" 			: "Ilwis 4 domain",
			"description" 	: "A composite format for IlwisObject based data. It may contain multiple data objects",
			"extension"		: "ilwis4",
			"type"			: "memory,file",
			"datatypes"		: "domain",
			"readwrite"		: "rcu"				
		},
		{ 	"code" 			: "i4georeference",
			"name" 			: "Ilwis 4 georeference",
			"description" 	: "A composite format for IlwisObject based data. It may contain multiple data objects",
			"extension"		: "ilwis4",
			"type"			: "memory,file",
			"datatypes"		: "georeference",
			"readwrite"		: "rcu"				
		},
		{ 	"code" 			: "i4coordinatesystem",
			"name" 			: "Ilwis 4 coordinatesystem",
			"description" 	: "A composite format for IlwisObject based data. It may contain multiple data objects",
			"extension"		: "ilwis4",
			"type"			: "memory,file",
			"datatypes"		: "coordinatesystem",
			"readwrite"		: "rcu"				
		},
		{ 	"code" 			: "i4features",
			"name" 			: "Ilwis 4 features",
			"description" 	: "A composite format for IlwisObject based data. It may contain multiple data objects",
			"extension"		: "ilwis4",
			"type"			: "memory,file",
			"datatypes"		: "featurecoverage",
			"readwrite"		: "rcu"				
		},
		{ 	"code" 			: "i4workflow",
			"name" 			: "Ilwis 4 workflow",
			"description" 	: "A composite format for IlwisObject based data. It may contain multiple data objects",
			"extension"		: "ilwis4",
			"type"			: "memory,file",
			"datatypes"		: "workflow",
			"readwrite"		: "rcu"				
		},
		{ 	"code" 			: "i4script",
			"name" 			: "Ilwis 4 script",
			"description" 	: "A composite format for IlwisObject based data. It may contain multiple data objects",
			"extension"		: "ilwis4",
			"type"			: "memory,file",
			"datatypes"		: "script",
			"readwrite"		: "rcu"				
		},
		{ 	"code" 			: "i4representation",
			"name" 			: "Ilwis 4 representation",
			"description" 	: "A composite format for IlwisObject based data. It may contain multiple data objects",
			"extension"		: "ilwis4",
			"type"			: "memory,file",
			"datatypes"		: "representation",
			"readwrite"		: "rcu"				
		}				
	]
}