{
	"OperatingSystem" : [
			{ "name" : "windows",
			  "libraries": [
					{
							"order":1,
							"dlibrary" : "../../zlibd.dll"
							"library" : "../../zlib.dll"
					},
					{
							"order":2,
							"library" : "../../quazip.dll"
					},
					{
							"order":3,
							"library" : "ods.dll"
					}					
			 ]
        }
	 ]
}
