{
	"Formats" : [
		{ 	"code" 			: "xlsx",
			"name" 			: "Excel(XLSX)  format ",
			"description" 	: "XML based excel spreadsheet format",
			"extension"		: "xlsx",
			"type"			: "file",
			"datatypes"		: "table",
			"readwrite"		: "rcu"			
		},
		{ 	"code" 			: "ods",
			"name" 			: "Ods spreadsheet ",
			"description" 	: "Open Document spreadsheet format",
			"extension"		: "ods",
			"type"			: "file",
			"datatypes"		: "table",
			"readwrite"		: "rcu"			
		}		
	]
}		

