{
        "OperatingSystem" : [
                { "name" : "windows",
                  "libraries": [
						{
							"order" : 1,
							"library" : "zlib.dll"
						},
						{
							"order" : 2,
							"library" : "szip.dll"
						},
						{
							"order" : 30,
							"library" : "tiff.dll"
						},							
						{
							"order" : 40,
							"library" : "xerces-c_3_2.dll"
						},						
						{
							"order" : 50,
							"library" : "libexpat.dll"
						},						
						{
							"order" : 60,
							"library" : "ogdi.dll"
						},
						{
							"order" : 70,
							"library" : "xdr.dll"
						},
						{
							"order" : 80,
							"library" : "HDF.dll"
						},
						{
							"order" : 90,
							"library" : "libcrypto-1_1-x64.dll"
						},						
						{
							"order" : 100,
							"library" : "libssl-1_1-x64.dll"
						},
						{
							"order" : 110,
							"library" : "libpq.dll"
						},							
						{
							"order" : 120,
							"library" : "libcurl.dll"
						},
						{
							"order" : 130,
							"library" : "sqlite3.dll"
						},							
						{
							"order" : 140,
							"library" : "proj_7_2.dll"
						},
						{
							"order" : 150,
							"library" : "iconv-2.dll"
						},
						{
							"order" : 160,
							"library" : "libxml2.dll"
						},	
						{
							"order" : 170,
							"library" : "freexl.dll"
						},
						{
							"order" : 175,
							"library" : "geos.dll"
						},						
						{
							"order" : 180,
							"library" : "geos_c.dll"
						},
						{
							"order" : 190,
							"library" : "spatialite.dll"
						},
						{
							"order" : 200,
							"library" : "libmysql.dll"
						},
						{
							"order" : 210,
							"library" : "openjp2.dll"
						},	
						{
							"order" : 220,
							"library" : "HDF5.dll"
						},
						{
							"order" : 230,
							"library" : "HDF5_HL.dll"
						},			
						{
							"order" : 240,
							"library" : "mfhdf.dll"
						},
						{
							"order" : 250,
							"library" : "netcdf.dll"
						},						
                        {
							"order" : 100000,
							"library" : "gdal305.dll"
                        }
                ]
                },
                { "name" : "linux",
                  "libraries" : [
                   {
                    "order" : 100000,
                    "library" : "/usr/lib/libgdal.so.26"
                   }
                ]
                }
        ]
}
