{
        "OperatingSystem" : [
                { "name" : "windows",
                  "libraries": [
                        {
                                "order": 1,
                                "library" : "XERCES-C_3_1.DLL"
                        },
                        {
                                "order": 2,
                                "library": "EXPAT.DLL"
                        },
                        {
                                "order": 3,
                                "library" : "VCRUNTIME140.DLL"
                        },
                        {
                                "order": 4,
                                "library" : "MSVCP140.DLL"
                        },
						{
                                "order": 5,
                                "library" : "ICONV.DLL"
                        },
						{
                                "order": 6,
                                "library" : "LIBEAY32.DLL"
                        },
                        {
                                "order": 7,
                                "library" : "SSLEAY32.DLL"
                        },
                        {
                                "order": 8,
                                "library" : "LIBPQ.DLL"
                        },
                        {
                                "order": 9,
                                "library" : "SQLITE3.DLL"
                        },
                        {
                                "order": 10,
                                "library" : "PROJ.DLL"
                        },
						{
                                "order": 11,
                                "library" : "GEOS.DLL"
                        },						
						{
                                "order": 12,
                                "library" : "GEOS_C.DLL"
                        },
						{
                                "order": 13,
                                "library" : "ZLIB1.DLL"
                        },
						{
                                "order": 14,
                                "library" : "FREEXL.DLL"
                        },
						{
                                "order": 15,
                                "library" : "LIBXML2.DLL"
                        },						
                        {
                                "order": 16,
                                "library" : "SPATIALITE.DLL"
                        },
                        {
                                "order": 17,
                                "library" : "LIBMYSQL.DLL"
                        },
                        {
                                "order": 18,
                                "library" : "LIBCURL.DLL"
                        },
                        {
                                "order": 19,
                                "library" : "OPENJP2.DLL"
                        },						
                        {
                                "order" : 100000,
                                "library" : "gdal202.dll"
                        }
                ]
                },
                { "name" : "linux",
                  "libraries" : [
                        {
                                "order": 1,
                                "library" : "libz.so.1"
                        },
                        {
                                "order": 2,
                                "library": "libcharset.so.1"
                        },
                        {
                                "order": 7,
                                "library" : "libcrypto.so"
                        },
                        {
                                "order": 8,
                                "library" : "libssl.so"
                        },
                        {
                                "order": 9,
                                "library" : "libiconv.so.2"
                        },
                        {
                                "order": 10,
                                "library" : "libproj.so.0"
                        },
                        {
                                "order": 11,
                                "library" : "libcurl.so.4"
                        },
                        {
                                "order": 12,
                                "library" : "libexpat.so.1"
                        },
                        {
                                "order": 13,
                                "library" : "libfreexl.so.1"
                        },
                        {
                                "order": 14,
                                "library" : "libhdf5.so"
                        },
                        {
                                "order": 15,
                                "library" : "libhdf5_hl.so"
                        },
                        {
                                "order": 16,
                                "library" : "libnetcdf.so.7"
                        },
                        {
                                "order": 17,
                                "library" : "libpq.so"
                        },
                        {
                                "order": 18,
                                "library" : "libsqlite3.so"
                        },
                        {
                                "order" : 100000,
                                "library" : "libgdal.so.1"
                        }
                ]
                }
        ]
}
